<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.lowcode.platform.mapper.DeviceTypeMapper">

    <!--设备计数-->
    <select id="countByDeviceTypeCode" resultType="int">
        SELECT COUNT(1) FROM devicetype WHERE deviceTypeCode = #{deviceTypeCode}
    </select>

    <!-- 插入操作 -->
    <insert id="insertDeviceType"  keyProperty="deviceTypeId">
        INSERT IGNORE INTO devicetype (deviceTypeCode, deviceTypeName, imgPath)
        VALUES (#{deviceTypeCode}, #{deviceTypeName}, #{imgPath})
    </insert>

    <!-- 查询单个设备ID -->
    <select id="loadDeviceId" resultType="java.lang.Long">
        SELECT deviceTypeId FROM devicetype WHERE deviceTypeCode = #{deviceTypeCode}
    </select>

    <!-- 自定义 selectBatchIds -->
    <select id="selectBatchIds" resultType="demo.lowcode.platform.entity.DeviceType">
        SELECT * FROM devicetype WHERE deviceTypeId IN
        <foreach collection="deviceTypeIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!--查询设备类型码-->
    <select id="getDeviceTypeCode" resultType="String">
        SELECT deviceTypeCode FROM devicetype WHERE deviceTypeId = #{deviceTypeId}
    </select>

    <!--查询设备类型数据-->
    <select id="selectByCode" resultType="demo.lowcode.platform.entity.DeviceType">
        SELECT * FROM devicetype WHERE deviceTypeCode = #{deviceTypeCode}
    </select>
</mapper>