<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.lowcode.platform.mapper.DeviceBindingMapper">

    <!--设备计数-->
    <select id="countBinding" resultType="int">
        SELECT COUNT(1) FROM deviceBinding WHERE deviceTypeId = #{deviceTypeId} AND domainId = #{domainId}
    </select>

    <!--获取绑定设备Id-->
    <select id="loadDeviceBindingId" resultType="java.lang.Long">
        SELECT deviceTypeId FROM deviceBinding WHERE domainId = #{domainId}
    </select>
</mapper>