<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.lowcode.platform.mapper.DeviceTypeMapper">
    <!--获取设备类型列表-->
    <select id="selectByDomainId" resultType="demo.lowcode.platform.entity.DeviceType">
        SELECT * FROM devicetype
        WHERE id IN (
            SELECT component_id FROM domain_component
            WHERE domain_id = #{domainId} AND component_type = 'devicetype'
        )
    </select>

    <!--根据code获取设备类型-->
    <select id="selectByCode" resultType="demo.lowcode.platform.entity.DeviceType">
        SELECT * FROM devicetype
        WHERE code = #{code}
    </select>
</mapper>
