html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}
.body-box {
  flex-direction: column;
  display: flex;
  height: 90%;
  margin-top: 10px;
  border:solid #eff0f2;
  border-radius: 9px;
}
.title-box{
  margin-top: 40px;
  margin-left: 40px;
  height: 50px;
  width: 140px;
  border-left:4px solid  #1A7BEE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}
.table-box{
  #border:1px solid #000000;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  height: 35%;
}
.table-row {
  border-bottom: none;
  flex-direction: row;
  display: flex;
  align-items: center;
}


.body-title {
  font-size: 18px;
  border-left: #50a5fb 5px solid;
  margin-left: 30px;
  margin-top: 20px;
  padding-left: 10px;
}
.title-cell{
  margin-left: 10%;
  margin-top: 8px;
}
.table-cell {
  text-align: left;
}
.label {
  flex: 0 0 90px;
  font-weight: bold;
  color: #666;
}
.table{
  width: 80%;
  margin-top: 20px;
  margin-left: 8%;
}

.nav-menu[data-v-3583889e] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav-item[data-v-3583889e] {
  width: 100%;
}
.sub-title[data-v-3583889e] {
  color: grey;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}
.menu-item[data-v-3583889e] {
  width: 100px;
  text-align: center;
  font-size: 16px;
}
.sub-menu-item[data-v-3583889e] {
  text-align: center;
  font-size: 16px;
}

.header {
  width: 100%;
  height: 100%;
  background-color: #50a5fb;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  text-align: center;
   /*color: #337ecc; */
  font-size: 18px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}
.header-right {
  margin-right: 20px;
  display: flex;
}
.el-dropdown-link {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  align-items: center;
  display: flex;
}

.common-layout[data-v-306120af] {
  width: 100%;
  height: 100%;
}

.file-item[data-v-6ee3216d] {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.file-card-item[data-v-6ee3216d] {
  width: 140px;
  height: 140px;
  background-color: #f4f4fc;
  border-radius: 8px;
  position: relative;
  padding: 10px;
}
.file-card-item-selected[data-v-6ee3216d] {
  border: 2px solid #409eff;
}
.file-card-item[data-v-6ee3216d]:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}
.folder-icon[data-v-6ee3216d] {
  width: 100%;
}
.checkbox[data-v-6ee3216d] {
  position: absolute;
  top: 0px;
  left: 10px;
}
.more-options[data-v-6ee3216d] {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.file-name[data-v-6ee3216d] {
  margin-top: 10px;
  text-align: center;
}
.publish-span[data-v-6ee3216d]{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 10px;
  font-weight: bold;
  font-size: 13px;
  color: #007BFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}
.not-publish-span[data-v-6ee3216d]{
  background-color: rgba(255, 255, 255, 0.7); /* 使用浅橙色背景 */
  padding: 2px 10px;
  font-weight: bold;
  font-size: 13px;
  color: #FFA500; /* 橙色字体，表示“待发布”状态 */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.component-subtitle[data-v-f4e2f79e] {
  font-size: 16px;
  color: #606266;
  margin-bottom: 10px;
}
.component-content[data-v-f4e2f79e] {
  margin-bottom: 10px;
}
.component-container[data-v-f4e2f79e] {
  border: 1px solid #d6d6d6;
  padding: 15px;
}

.collapse-block[data-v-0bd3944b] {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}
.collapse-title[data-v-0bd3944b] {
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.add-button[data-v-8d942fa0] {
  position: absolute;
  right: 40px;
  top: 4px;
}

.el-tabs__item {
  font-size: 16px !important;
}
.el-tabs__nav-wrap:after {
  height: 0 !important;
}

.avatar-uploader .avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.avatar-uploader .el-upload {
   border: 1px dashed var(--el-border-color);
   border-radius: 6px;
   cursor: pointer;
   width: 450px;
   position: relative;
   overflow: hidden;
   margin-left: 100px;
   margin-top:  20px;
   transition: var(--el-transition-duration-fast);
}
.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}



.scenario-breadcrumb[data-v-fc8a6e66] {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.scenario-map[data-v-fc8a6e66] {
  margin-bottom: 20px;
}
.scenario-title[data-v-fc8a6e66] {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #606266;
  margin-bottom: 10px;
}
.anchor[data-v-fc8a6e66] {
  border-left: 2px solid #d6d6d6;
  position: fixed;
}

.scenario-subtitle {
  font-size: 16px;
  color: #606266;
  margin-bottom: 10px;
}
.scenario-content {
  margin-bottom: 10px;
}

.domain-breadcrumb[data-v-c35ec6de] {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.domain-setting[data-v-c35ec6de]{
  margin-bottom: 20px;
}
.domain-title[data-v-c35ec6de] {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #606266;
  margin-bottom: 10px;
}
.anchor[data-v-c35ec6de] {
  border-left: 2px solid #d6d6d6;
  position: fixed;
}

.domain-subtitle {
  font-size: 16px;
  color: #606266;
  margin-bottom: 10px;
}
.domain-content {
  margin-bottom: 10px;
}

.svg-icon[data-v-fe4ae48a]{
    margin-left: 3px;
    margin-right: 7px;
}

.nav-menu[data-v-402c59a3] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav-item[data-v-402c59a3] {
  width: 100%;
}
.menu-item[data-v-402c59a3] {
  width: 100px;
  text-align: center;
  font-size: 16px;
}

.header-title[data-v-1d6cfeb1]{
  height: 50%;
  align-items: center;
  display: flex;
}
.header-icon[data-v-1d6cfeb1]{
  color: #7F51C8;
  opacity: 0.8;
  margin: 10px;
  font-size: 30px;
}
.header-box[data-v-1d6cfeb1] {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #F1F5FB;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  border-radius: 9px;
  justify-content: space-between;
}

.application-form[data-v-134b9776] {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  max-width: 60%;
}
.application-form-item[data-v-134b9776] {
  margin-bottom: 25px;
}

.sub-title[data-v-b29d4014] {
  color: grey;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}
.tool-item[data-v-b29d4014] {
  text-align: center;
  padding: 10px;
}
.tool-icon[data-v-b29d4014] {
  border: #d6d6d6 1px solid;
  width: 60px;
  height: 60px;
}
.tool-name[data-v-b29d4014] {
  font-size: 14px;
  margin-top: 5px;
}

.vue-ace-editor[data-v-fca4fc6f] {
  /* ace-editor默认没有高度，所以必须设置高度，或者同时设置最小行和最大行使编辑器的高度自动增高 */
  height: 99%;
  width: 99%;
  font-size: 16px;
  border: 1px solid;
}
.process-header[data-v-fca4fc6f] {
  display: flex;
  justify-content: space-between;
  border-bottom: lightgray 1px solid;
  padding: 10px;
  margin: 20px 20px 10px;
}
.process-content[data-v-fca4fc6f] {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin: 20px;
}
.attribute-item[data-v-fca4fc6f] {
  margin-top: 10px;
}

.page-header[data-v-875009c3] {
  display: flex;
  justify-content: space-between;
  border-bottom: lightgray 1px solid;
  padding: 10px;
  margin: 20px 20px 10px;
}
.page-container[data-v-875009c3] {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin: 20px;
}

.header-panel[data-v-e2ab9e91] {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url('/index/img/header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-center[data-v-e2ab9e91] {
  width: 70%;
  margin-left: 15%;
  padding-top: 80px;
}
.header-search[data-v-e2ab9e91] {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
}
.search-input[data-v-e2ab9e91] {
  height: 45px;
}
.header-title[data-v-e2ab9e91] {
  font-size: 40px;
  color: white;
  font-family: 'Arial', sans-serif;
}

.body-box[data-v-2cbf7032]{
  flex-direction: row;
  display: flex;
  height: 90%;
  margin-top: 10px;
  border:solid #eff0f2;
  align-items: center;
  justify-content:center;
  border-radius: 9px;
}
.tool-button[data-v-2cbf7032]{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 250px;
  width: 250px;
  margin: 30px;
  background-color: #f1f5f9;
  border-radius: 4px;
  font-size: large;
}
