<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.lowcode.platform.mapper.DomainDeviceModelMapper">

    <insert id="insertDomainDeviceModelRelation">
        INSERT INTO domain_device_model (domain_id, device_model_id)
        VALUES (#{domainId}, #{deviceModelId})
        ON DUPLICATE KEY UPDATE update_time = CURRENT_TIMESTAMP
    </insert>

    <select id="selectByDomainAndDeviceModel" resultType="demo.lowcode.platform.entity.DomainDeviceModel">
        SELECT id,
               domain_id AS domainId,
               device_model_id AS deviceModelId
        FROM domain_device_model
        WHERE domain_id = #{domainId}
          AND device_model_id = #{deviceModelId}
    </select>

    <delete id="deleteDomainDeviceModelRelation">
        DELETE FROM domain_device_model
        WHERE domain_id = #{domainId}
          AND device_model_id = #{deviceModelId}
    </delete>

    <delete id="deleteDomainDeviceModelRelationsByDomainId">
        DELETE FROM domain_device_model
        WHERE domain_id = #{domainId}
    </delete>
</mapper>

