<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.lowcode.platform.mapper.DomainTemplateMapper">

    <insert id="insertDomainTemplateRelation">
        INSERT INTO domain_template (domain_code, template_id)
        VALUES (#{domainCode}, #{templateId})
    </insert>

    <insert id="batchInsertDomainTemplateRelations">
        INSERT INTO domain_template (domain_code, template_id)
        VALUES
        <foreach collection="templateIds" item="templateId" separator=",">
            (#{domainCode}, #{templateId})
        </foreach>
    </insert>

    <delete id="deleteDomainTemplateRelation">
        DELETE FROM domain_template
        WHERE domain_code = #{domainCode}
          AND template_id = #{templateId}
    </delete>

    <delete id="deleteDomainTemplateRelationsByDomainCode">
        DELETE FROM domain_template
        WHERE domain_code = #{domainCode}
    </delete>
</mapper>