<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.lowcode.platform.mapper.TemplateMapper">

    <resultMap id="templateResultMap" type="demo.lowcode.platform.entity.Template">
        <id property="id" column="id"/>
        <result property="template_id" column="template_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="category" column="category"/>
        <result property="tags" column="tags"/>
        <result property="domain" column="domain"/>
        <result property="image_url" column="image_url"/>
        <result property="describing_the_model" column="describing_the_model"/>
        <result property="url" column="url"/>
    </resultMap>

    <!--获取领域模板列表-->
    <select id="getDomainTemplate" resultMap="templateResultMap">
        SELECT * FROM template
        WHERE id IN (
            SELECT template_id FROM domain_template
            WHERE domain_id = #{domainId}
        )
    </select>

    <!--根据template_id查询模板-->
    <select id="selectByTemplateId" resultMap="templateResultMap">
        SELECT * FROM template WHERE template_id = #{templateId}
    </select>

</mapper>
